body {
    background-color: lightblue;
}

.Resume {
    font-size: 3em;
    text-align: center;

}

.img1 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.img2 {
    width: 50px;
    height: 70px;
    border-radius: 50%;
    
}

.img3 {
    width: 50px;
    height: 70px;
    border-radius: 50%;

}

.Name {
    font-size: 30px;

}

.studentID {
    font-size: 30px;
}

.facebook {
    display: inline-block;
    font-size: 20px;
    word-spacing: 5px;
    padding-inline-start: 10px;
    vertical-align: top;

}

.IG {
    display: inline-block;
    font-size: 20px;
    word-spacing: 5px;
    padding-inline-start: 10px;
    vertical-align: top;
}

.Github {
    font-size: 30px;
    
}

.Programming {
    font-size: 30px;
    text-indent: 20px;
    line-height: 0.5;
}

.Programming_text {
    font-size: 20px;
    text-indent: 20px;

}

.Career {
    font-size: 30px;
    text-indent: 20px;
    line-height: 0.5;
}

.Career_text {
    font-size: 20px;
    text-indent: 20px;
    
}

.Donate {
    font-size: 30px;
    text-indent: 20px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  border-radius: 5px;
  background-color: whitesmoke;

}

.card02 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;
    background-color: whitesmoke;
    display: inline-block;

}


table.exam>*>tr>th,
table.exam>*>tr>td {
    border: 1px solid black;
    position: relative;

}